In [2]:
import pandas as pd
df = pd.read_csv("ecommerce_india.csv")
df.head()

,Order_ID,Order_Date,Customer_ID,Gender,City,State,Country,Product_ID,Product_Name,Category,...,Sales,Profit,Payment_Method,Ship_Date,Ship_Mode,Order_Status,Year,Month_Name,Month_NO,Profit_Margin
0,1,01-01-2023,CUST3895,Male,Pune,Maharashtra,India,PROD244,Charger,Electronics,...,5122.40,565.85,Credit Card,06-01-2023,Express,Delivered,2023,January,1,11.046580
1,2,01-01-2023,CUST9444,Male,Kolkata,West Bengal,India,PROD768,Backpack,Fashion,...,59286.60,9184.07,Debit Card,06-01-2023,Express,Shipped,2023,January,1,15.490971
2,3,01-01-2023,CUST5415,Female,Ahmedabad,Gujarat,India,PROD634,Mobile,Electronics,...,111871.05,27257.64,Credit Card,03-01-2023,Standard,Delivered,2023,January,1,24.365231
3,4,01-01-2023,CUST1542,Female,Bengaluru,Karnataka,India,PROD487,Notebook,Stationery,...,27707.45,2326.49,Credit Card,03-01-2023,Standard,Delivered,2023,January,1,8.396623
4,5,01-01-2023,CUST1015,Male,Bengaluru,Karnataka,India,PROD296,Charger,Electronics,...,15745.60,2086.41,Credit Card,04-01-2023,Same Day,Shipped,2023,January,1,13.250749

In [3]:
df.shape

(20000, 23)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_ID        20000 non-null  int64
 1   Order_Date      20000 non-null  datetime64[ns]
 2   Customer_ID     20000 non-null  object
 3   Gender          20000 non-null  object
 4   City            20000 non-null  object
 5   State           20000 non-null  object
 6   Country         20000 non-null  object
 7   Product_ID      20000 non-null  object
 8   Product_Name    20000 non-null  object
 9   Category        20000 non-null  object
 10  Quantity        20000 non-null  int64
 11  Unit_Price      20000 non-null  int64
 12  Discount        20000 non-null  int64
 13  Sales           20000 non-null  float64
 14  Profit          20000 non-null  float64
 15  Payment_Method  20000 non-null  object
 16  Ship_Date       20000 non-null  datetime64[ns]
 17  Ship_Mode       20000 non-null  object
 18  Order_Status    20000 non-null  object
 19  Year            20000 non-null  int64
 20  Month_Name      20000 non-null  object
 21  Month_NO        20000 non-null  int64
 22  Profit_Margin   20000 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(6), object(12)
memory usage: 3.5+ MB

In [5]:
df.isnull().sum()

Order_ID          0
Order_Date        0
Customer_ID       0
Gender            0
City              0
State             0
Country           0
Product_ID        0
Product_Name      0
Category          0
Quantity          0
Unit_Price        0
Discount          0
Sales             0
Profit            0
Payment_Method    0
Ship_Date         0
Ship_Mode         0
Order_Status      0
Year              0
Month_Name        0
Month_NO          0
Profit_Margin     0
dtype: int64

In [7]:
df.duplicated().sum()

np.int64(0)

In [10]:
df['Order_Date']=pd.to_datetime(df['Order_Date'],format='%d-%m-%Y')
df['Ship_Date']=pd.to_datetime(df['Ship_Date'],format='%d-%m-%Y')

In [12]:
df[['Order_Date','Ship_Date']].dtypes

Order_Date    datetime64[ns]
Ship_Date     datetime64[ns]
dtype: object

In [15]:
bad_dates = df[df['Ship_Date']<df['Order_Date']]
bad_dates.shape

(0, 23)

In [16]:
bad_dates.head()

Empty DataFrame
Columns: [Order_ID, Order_Date, Customer_ID, Gender, City, State, Country, Product_ID, Product_Name, Category, Quantity, Unit_Price, Discount, Sales, Profit, Payment_Method, Ship_Date, Ship_Mode, Order_Status, Year, Month_Name, Month_NO, Profit_Margin]
Index: []

[0 rows x 23 columns]

In [21]:
text_cols=[
    'Gender','City','State','Country','Product_Name','Category',
    'Payment_Method','Ship_Mode','Order_Status'
]
for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [24]:
df['Category'].unique()

array(['Electronics', 'Fashion', 'Stationery'], dtype=object)

In [26]:
df['Ship_Mode'].unique()

array(['Express', 'Standard', 'Same Day'], dtype=object)

In [35]:
df['Profit_Margin_Check'] = (df['Profit']/df['Sales'])*100
mismatch = df[(df['Profit_Margin_Check']-df['Profit_Margin']).abs()>0.1]
mismatch.shape

(0, 24)

In [30]:
mismatch.head()

,Order_ID,Order_Date,Customer_ID,Gender,City,State,Country,Product_ID,Product_Name,Category,...,Profit,Payment_Method,Ship_Date,Ship_Mode,Order_Status,Year,Month_Name,Month_NO,Profit_Margin,Profit_Margin_Check
0,1,2023-01-01,CUST3895,Male,Pune,Maharashtra,India,PROD244,Charger,Electronics,...,565.85,Credit Card,2023-01-06,Express,Delivered,2023,January,1,11.046580,11.046580
1,2,2023-01-01,CUST9444,Male,Kolkata,West Bengal,India,PROD768,Backpack,Fashion,...,9184.07,Debit Card,2023-01-06,Express,Shipped,2023,January,1,15.490971,15.490971
2,3,2023-01-01,CUST5415,Female,Ahmedabad,Gujarat,India,PROD634,Mobile,Electronics,...,27257.64,Credit Card,2023-01-03,Standard,Delivered,2023,January,1,24.365231,24.365231
3,4,2023-01-01,CUST1542,Female,Bengaluru,Karnataka,India,PROD487,Notebook,Stationery,...,2326.49,Credit Card,2023-01-03,Standard,Delivered,2023,January,1,8.396623,8.396623
4,5,2023-01-01,CUST1015,Male,Bengaluru,Karnataka,India,PROD296,Charger,Electronics,...,2086.41,Credit Card,2023-01-04,Same Day,Shipped,2023,January,1,13.250749,13.250749

In [32]:
df['Profit_Margin']=df['Profit_Margin_Check']

In [33]:
df.drop(columns=['Profit_Margin_Check'], inplace=True)

In [34]:
df['Profit_Margin_Check'] = (df['Profit'] / df['Sales']) * 100
mismatch = df[(df['Profit_Margin_Check'] - df['Profit_Margin']).abs() > 0.1]
mismatch.shape

(0, 24)

In [36]:
df[['Sales','Profit']].describe()

               Sales        Profit
count   20000.000000  20000.000000
mean    56869.166205   8544.715353
std     44046.228751   7787.918852
min       162.400000     11.410000
25%     21817.200000   2733.417500
50%     44116.500000   6156.265000
75%     83711.812500  12122.170000
max    199856.000000  47546.880000

In [38]:
Q1 = df['Sales'].quantile(0.25)
Q3 = df['Sales'].quantile(0.75)
IQR = Q3-Q1

outliers_sales = df[(df['Sales']<Q1 - 1.5*IQR) | (df['Sales']>Q3 + 1.5 * IQR)]
outliers_sales.shape

(216, 24)

In [44]:
Q1p = df['Profit'].quantile(0.25)
Q3p = df['Profit'].quantile(0.75)
IQRp = Q3p - Q1p

outliers_profit = df[(df['Profit'] < Q1p - 1.5 * IQRp) | (df['Profit'] > Q3p + 1.5 * IQRp)]
outliers_profit.shape

(842, 24)

In [50]:
df['Order_Year'] = df['Order_Date'].dt.year
df['Order_Month'] = df['Order_Date'].dt.year

df['Order_Month_Name'] = df['Order_Date'].dt.strftime('%B')

df['Days_To_Ship'] = (df['Ship_Date']-df['Order_Date']).dt.days

In [51]:
df[['Order_Date','Ship_Date','Order_Year','Order_Month','Order_Month_Name','Days_To_Ship']].head()

,Order_Date,Ship_Date,Order_Year,Order_Month,Order_Month_Name,Days_To_Ship
0,2023-01-01,2023-01-06,2023,2023,January,5
1,2023-01-01,2023-01-06,2023,2023,January,5
2,2023-01-01,2023-01-03,2023,2023,January,2
3,2023-01-01,2023-01-03,2023,2023,January,2
4,2023-01-01,2023-01-04,2023,2023,January,3

In [52]:
df.to_csv("Ecommerce_Cleaned.csv",index=False)
print("Cleaned File Saved as Ecommerce_Cleaned.csv")

Cleaned File Saved as Ecommerce_Cleaned.csv