In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("Ecommerce_cleaned.csv",parse_dates =['Order_Date','Ship_Date'])
df.head()

,Order_ID,Order_Date,Customer_ID,Gender,City,State,Country,Product_ID,Product_Name,Category,...,Year,Month_Name,Month_NO,Profit_Margin,Profit_Margin_Check,Order_Yerar,Order_Month,Order_Month_Name,Days_To_Ship,Order_Year
0,1,2023-01-01,CUST3895,Male,Pune,Maharashtra,India,PROD244,Charger,Electronics,...,2023,January,1,11.046580,11.046580,2023,2023,January,5,2023
1,2,2023-01-01,CUST9444,Male,Kolkata,West Bengal,India,PROD768,Backpack,Fashion,...,2023,January,1,15.490971,15.490971,2023,2023,January,5,2023
2,3,2023-01-01,CUST5415,Female,Ahmedabad,Gujarat,India,PROD634,Mobile,Electronics,...,2023,January,1,24.365231,24.365231,2023,2023,January,2,2023
3,4,2023-01-01,CUST1542,Female,Bengaluru,Karnataka,India,PROD487,Notebook,Stationery,...,2023,January,1,8.396623,8.396623,2023,2023,January,2,2023
4,5,2023-01-01,CUST1015,Male,Bengaluru,Karnataka,India,PROD296,Charger,Electronics,...,2023,January,1,13.250749,13.250749,2023,2023,January,3,2023

In [3]:
from sqlalchemy import create_engine

USERNAME = "root"
PASSWORD = "2004"
HOST = "localhost"
PORT ="3306"

engine_root = create_engine(f"mysql+pymysql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/")

In [5]:
from sqlalchemy import text

with engine_root.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS ecommerce;"))
    print("Database 'ecommerce' is ready.")

Database 'ecommerce' is ready.

In [6]:
engine = create_engine(f"mysql+pymysql://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/ecommerce")

In [8]:
df.to_sql('orders_cleaned',con=engine, if_exists='replace',index=False,chunksize = 1000)
print("Data uploaded to Mysql table 'orders_cleaned'.")

Data uploaded to Mysql table 'orders_cleaned'.

In [9]:
query = """
SELECT 
    COUNT(*) AS total_orders,
    SUM(Sales) AS total_sales,
    SUM(Profit) AS total_profit
FROM orders_cleaned;
"""

test_result = pd.read_sql(query, con=engine)
test_result

   total_orders   total_sales  total_profit
0         20000  1.137383e+09  1.708943e+08